.App {
  text-align: center;
}

header {
  background-color: palevioletred;
  z-index: 1;
  padding: 1em;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid rgb(217, 23, 117);
}

.photo-feed {
  margin-top: 64px;
  margin-bottom: 64px;
}

.ant-card {
  margin-bottom: 32px;
}

.App-header {
  background-color: #FFC0CB;
  border: 1px solid rgb(217, 23, 117);;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-link {
  color: #0a5367;
}

.fab {
  position: fixed;
  bottom: 24px;
  background-color: palevioletred;
  border-color: rgb(217, 23, 117);;
}
